# Collection Data Types

```{admonition} Topics
- Collection Data Types
- ลิสต์ (List)
- ทูเพิล (Tuple)
- เซ็ต (Set)
- ดิกชันนารี (Dictionary)
- Collection of Collections
```

- Collection  คือโครงสำหรับจัดเก็บชุดข้อมูลจำนวนมากภายใต้ชื่อตัวแปรเพียง 1 ตัวแปร
- Python มีโครงสร้างที่มาพร้อมกับตัวภาษา (built-in) ซึ่งสามารถจัดเก็บชุดข้อมูล อยู่ 4 แบบ ได้แก่ `list`, `tuple`, `set` และ `dictionary`
- โครงสร้างแต่ละชนิดถือได้ว่าเป็น**ชนิดของตัวแปร (data types)** ที่แตกต่างกัน
- จัดเป็นตัวแปรแบบ **Object** ซึ่งจะมีคุณสมบัติที่สำคัญ คือ
 - สามารถ**จัดเก็บข้อมูล (data)**
 - มี**ความสามารถ/คำสั่ง (method/function)** ติดตัวมาเพื่อให้เรียกใช้งานด้วย
- การเรียกใช้ **ความสามารถ/คำสั่ง** ติดตัวเหล่านี้ จะเรียกใช้งานในลักษณะ คือ **`ชื่อตัวแปร.คำสั่ง()`**


**หมายเหตุ:**

- ในเอกสารนี้ เมื่อมีการอ้างถึงคำสั่งในรูปแบบ **`.function_name()`** (มี **`.`**  อยู่ด้านหน้าชื่อคำสั่ง) หมายความว่า คำสั่งนั้นเป็นความสามารถ/คำสั่งที่ติดตัวมากับตัวแปร **`Object`** ชนิดนั้น ๆ
- การใช้งานคำสั่งนี้ ต้องใช้งานในรูปแบบของ **`variable_name.function_name()`**



## List

การใช้ตัวแปรจำนวนมาก อาจไม่เหมาะกับการทำงานกับข้อมูลจำนวนมาก เช่น
- ชื่อของนักศึกษาหลายคน อาจใช้ตัวแปร `name1`, `name2`, `name3`, …
- คะแนนของนักศึกษาในห้อง อาจใช้ตัวแปร `score1`, `score2`, `score3`, …

ลิสต์ (List) คือการเก็บชุดข้อมูลที่เกี่ยวข้องกันจำนวนหลาย ๆ ตัวให้อยู่ภายใต้ตัวแปรเดียวกัน


<img width="500" src="">

- พื้นที่เก็บข้อมูลแต่ละช่อง คือพื้นที่สำหรับจัดเก็บข้อมูลแต่ละตัว (Element)
- พื้นที่เก็บข้อมูลแต่ละ item จะอ้างอิงด้วย ชื่อลิสต์และหมายเลขระบุตำแหน่ง (Index)
 - `data[index]`
 - `index` มีค่าเริ่มต้นเป็น `0` เสมอ : ระบุถึงพื้นที่ตำแหน่งแรก (หรือช่องแรก)
 - `index` มีค่ามากที่สุดคือ `n-1` : ใช้ระบุพื้นที่ตำแหน่งสุดท้าย เมื่อ `n` จำนวนพื้นที่ทั้งหมดของลิสต์

ลิสต์ใน Python เทียบเคียงได้กับ **array** ในภาษาคอมพิวเตอร์อื่น ๆ


<img width="400" src="">


### การสร้างลิสต์ (List Creation)

- ใช้เครื่องหมาย `[...]` ในการสร้างลิสต์ โดยการระบุรายการชุดข้อมูลไว้ภายใน แล้วขั้นข้อมูลแต่ละตัวด้วย `,`
- ลิสต์ใน Python **สามารถจัดเก็บข้อมูลหลายชนิดคละกันได้** ซึ่งต่างกับ array ในภาษาคอมพิวเตอร์อื่น ๆ ที่จัดเก็บข้อมูลได้เพียงชนิดเดียว

In [ ]:
# empty list
lst1 = []
print(lst1)

# list of integers
lst2 = [1, 2, 3, 40, 50, 60]
print(lst2)

# list with mixed datatypes
lst3 = [1, "Hello", 3.4]
print(lst3)

In [ ]:
# ตรวจสอบชนิดของตัวแปร lst2
print( type(lst2) )

### List กับการรับข้อมูลจากผู้ใช้ด้วย `input().split()`

ในกรณีที่เรา**ใช้ตัวแปรเพียง 1 ตัว**ในการรับค่าผลลัพธ์จาก `input().split()` ตัวแปรดังกล่าวจะเก็บข้อมูลที่ถูก split แล้วในรูปแบบของ List

```python
# data จะอยู่ในรูปแบบของ string ยาว ๆ ที่มีช่องว่างแทรก
data = input()
print(data)
```

```python
# data_list จะอยู่ในรูปแบบ List ของ string สั้น ๆ ที่ถูก split มาแล้ว
data_list = input().split()
print(data_list)
```



เราสามารถแปลงข้อมูล `string` ที่เก็บภายใน List ให้เป็น `int` หรือ `float` ได้โดยใช้ List Comprehension ซึ่งจะสอนในโอกาศต่อไป

```python
# data_list_int จะอยู่ในรูปแบบ List ของ int ซึ่งถูกแปลงมาจาก string สั้น ๆ
data_list_int = [int(x) for x in data_list]
print(data_list_int)
```



### การนับจำนวนข้อมูลในลิสต์

เราสามารถวัดความยาว หรือนับจำนวนข้อมูลภายในลิสต์ได้ด้วยคำสั่ง `len(ตัวแปรลิสต์)` ซึ่งจะให้ผลลัพธ์เป็น `int`

In [ ]:
# อ้างถึงตัวแปร lst1, lst2, lst3 จากตัวอย่างก่อนหน้า
print( len(lst1) )
print( len(lst2) )
print( len(lst3) )

ค่า `index` มีค่าระหว่าง `0` ถึง `len()-1`

In [ ]:
a = [16.5, 2.0, 77.5, 40.0, 0.5, 11.15, 0.0, 1.0, 1.0, 1.0, 112071.5]
print( f'len(a): {len(a)}' )
print( a[4] )
print( a[ len(a)-1 ] )     # ข้อมูลสุดท้ายในลิสต์

### การเข้าถึงข้อมูลในลิสต์ (List Access)

In [ ]:
# ดึงข้อมูลจากลิสต์ (ทีละ item)
my_list = ['E','n','g','r'] # index = 0,1,2,3, len()=4
print(my_list[0])
print(my_list[2])
print(my_list[3])
print(my_list)
print(my_list[2]+my_list[1]+my_list[2])

In [ ]:
# กำหนดค่าข้อมูลให้กับลิสต์ (ทีละ item)
my_list[1] = 8.0
my_list[2] = 'hello'
my_list[3] = True
print(my_list)

In [ ]:
# การใช้ compound assignment operators
my_list[1] = my_list[1]*2
print(my_list)

my_list[1] *= 2
print(my_list)

my_list[2] += " world"
print(my_list)

In [ ]:
# เข้าถึงข้อมูลที่ไม่มีอยู่จริง (ระบุด้วยค่า index ที่ไม่มีอยู่จริง) >> IndexError
my_list = [10,20,30,40]
length = len(my_list)  # length = 4
print(my_list[ length ])

In [ ]:
# เมื่อ index มีเป็นค่า negative หมายถึงการดึงข้อมูลจากท้ายลิสต์ 
my_list = [10,20,30,40]
print(my_list[-1])
print(my_list[-4])  # ถ้าเข้าถึง index -5 ดังโค้ดต่อนี้ print(my_list[-5]) จะเกิดข้อผิดพลาด

In [ ]:
# เมื่อค่า index เป็นค่า float จะเกิด TypeError
print( my_list[4/2] )

### การเข้าถึงช่วงของข้อมูล (Slice)

การเข้าถึง**ช่วงของข้อมูล**ในลิสต์ ด้วยการ **slice** โดยอาศัยการกำหนดค่า `index` เพื่อบ่งบอกช่วงของข้อมูลในรูปแบบ

```python
range_of_data = list_variable[start:stop:step]
```

- **`range_of_data`** คือ ช่วงของข้อมูลที่สนใจ มีชนิดข้อมูลเป็น `list` เช่นกัน
- **`start`** คือ ค่า index ที่เป็น**จุดเริ่มต้น**
- **`stop`** คือ ค่า index ที่เป็น**จุดสิ้นสุด** (แต่ไม่รวม item นี้)
- **`step`** คือ **การเพิ่มค่า** `index` ทีละ `+step`

ดังนั้น **`data[1:n]`** ได้เป็นการเข้าถึงข้อมูลตั้งแต่ **`data[1]` จนถึง `data[n-1]`** (โดยไม่รวม `data[n]`)

In [ ]:
a = [16, 2, 77, 40,0,"000",0.0, 1,1,1,112071]
print(a)

In [ ]:
a1 = a[0:3]     # start=0, stop=3 >> [0,1,2]
a2 = a[2:6]     # start=2, stop=6 >> [2,3,4,5]
print( a1 )
print( a2 )

In [ ]:
print( a[0:len(a)-1])    # start=0, stop=11 >> [0,1,2,...,10]
print( a[0:len(a)-1:2])  # start=0, stop=11, step=2 >> [0,2,4,6,8,10]

In [ ]:
a4 = a[:6]       # start=0, stop=6  >> [0,1,2,3,4,5]
a5 = a[4:]       # start=4, stop=11 >> [4,5,6,7,8,9,10]
print(a4)
print(a5)

In [ ]:
a[0:3] = [1,1,1]
print(a)

### การเพิ่มข้อมูลลงในลิสต์

ตัวแปร List มีความสามารถ/คำสั่งติดตัว ที่ช่วยในการเพิ่มข้อมูลใหม่ให้กับ List คือ
- `.append()` เพิ่มข้อมูล**ต่อท้าย** List
- `.insert()` **แทรกข้อมูล**ในตำแหน่ง `index` ที่ต้องการ

นอกจากนี้ยังมี `operator` ที่ช่วยในการเพิ่มข้อมูลต่อท้าย List ได้แก่
- `+` ใช้**เชื่อมต่อ** List เข้าด้วยกัน (concatenation)
- `*` ใช้เพิ่มข้อมูลให้มีหลายชุดตาม**จำนวน**ที่ต้องการ

In [ ]:
data = [1,5,7,9]
data.append(11)       # เพิ่ม 11 ต่อท้ายลิสต์
print(data)

data.insert(1,3)      # แทรก 3 ในตำแหน่ง index=1
print(data)

In [ ]:
a = [10,30,50]
b = [20,40,60]
c = a+b
print(c)

In [ ]:
d = a*2
print(d)

print(a*2+b*2)

### การลบข้อมูลจากลิสต์

ตัวแปร List มีคำสั่งติดตัวที่ใช้ในการลบข้อมูล คือ
- `.remove()` ลบข้อมูลที่มีค่าตามที่ระบุจาก List
- `.pop()` ลบข้อมูลในตำแหน่ง `index` ที่ระบุออกจาก List
- `.clear()` ลบข้อมูลทั้งหมดจาก List

In [ ]:
x = [1,2,3,4,5,0,5,6,7,8,9]

# ลบ 5 ตัวแรกที่พบใน List
x.remove(5)
print(x)

In [ ]:
# ลบข้อมูลที่ไม่มีอยู่ใน List จะเกิด error
x.remove(100)

In [ ]:
# หากไม่ระบุ index ข้อมูลที่ต้องการลบ จะเป็นการลบข้อมูลตัวท้ายสุดใน List
# ข้อมูลที่ถูกลบจาก List จะถูกเก็บที่ตัวแปร y
y = x.pop()
print(y, x)

# ถ้าระบุ index จะลบข้อมูล ณ ตำแหน่งนั้นออกจาก List
y = x.pop(1)
print(y, x)

In [ ]:
print(x)

# ลบข้อมูลทั้งหมดจาก List
x.clear()
print(x)

### การค้นหาข้อมูลในลิสต์

ตัวแปร List มีคำสั่งติดตัวที่ใช้ในการค้นหาข้อมูล คือ
- `.index()` ได้ค่า `index` ที่ระบุตำแหน่งของข้อมูลที่พบ
- `.count()` ค้นหาและน้บจำนวนข้อมูลที่สนใจ

In [ ]:
x = [1,5,2,3,4,5,0,5,6,7,8,9]*3
print(x)

In [ ]:
# ค้นหาว่า 0 ตัวแรกใน List อยู่ที่ index ตำแหน่งใด
# พบเลข 0 อยู่ในตำแหน่ง index=6
idx = x.index(0)
print(idx)

In [ ]:
# ค้นหา 0 ตั้งแต่ตำแหน่ง index=7 เป็นต้นไป
idx = x.index(0,idx+1)
print(idx)

In [ ]:
# ค้นหาข้อมูลที่ไม่มีใน List จะทำให้เกิด error
idx = x.index(100)
print(idx)

In [ ]:
# นับจำนวน 5 ทั้งหมดใน List
print( x.count(5) )

# นับจำนวนข้อมูลที่ไม่มีใน List ได้ผลลัพธ์เป็น 0 (ไม่ error)
print( x.count(100) )

### การเรียงลำดับข้อมูลในลิสต์

ตัวแปร List มีคำสั่งติดตัวที่ใช้ในการเรียงลำดับข้อมูล คือ
- `.sort()` สำหรับการเรียงลำดับข้อมูลจาก **น้อยไปหามาก (ascending order)**
- `.reverse()` สำหรับการเรียงลำดับข้อมูลจาก **item สุดท้ายกลับมายัง item แรก**

In [ ]:
c = [10, 30, 50, 20, 40, 60]*2
print(c)

# เรียงข้อมูลจากน้อยไปหามาก
c.sort()
print(c)

# เรียงจาก item สุดท้ายย้อนกลับมา item แรก
# ในกรณีนี้ คือ การเอาข้อมูลที่เรียงจากน้อยไปหามากแล้ว นำมาแสดงค่ากลับด้าน
# จึงเท่ากับ การเรียงข้อมูลจากมากไปหาน้อย (descending order)
c.reverse()
print(c)

In [ ]:
names = ["Ann", "Kenneth", "Chad", "Aaron", "Bill", "Conan"]
print(names)
names.sort()
print(names)
names.reverse()
print(names)

### การคำนวณทางสถิติ (Simple Statistics)

หากต้องการคำนวณหาค่าทางสถิติอย่างง่าย สามารถใช้คำสั่งต่อไปนี้
- `min()` หาค่าต่ำสุด (minimum)
- `max()` หาค่าสูงสุด (maximum)
- `sum()` หาค่าผลรวม (summation)

**หมายเหตุ:** `min()`, `max()`, `sum()` ไม่ใช่คำสั่งที่เป็นความสามารถติดตัวมากับ List

In [ ]:
x = [3,5,5,3,4,5,0,9,5,6,7,8,4,8,3]

print( len(x) )
print( min(x) )
print( max(x) )
print( sum(x) )

# หาค่าเฉลี่ย
print( sum(x)/len(x) )

In [ ]:
# หาค่า maximum
mx = max(x)
# หาว่าค่า maximum อยู่ในตำแหน่ง index ใด
idx_mx = x.index(mx)

print(idx_mx)
print(x[idx_mx])

## Tuple

- มีการเก็บข้อมูลในลักษณะเดียวกันกับลิสต์ แต่**ไม่สามารถเปลี่ยนแปลงค่าข้อมูลสมาชิกในภายหลังได้ (immutable)**
- ใช้เครื่องหมายวงเล็บ `(...)` ในการสร้าง **tuple** โดยการระบุรายการชุดข้อมูลไว้ภายใน แล้วขั้นข้อมูลแต่ละตัวด้วย `,`
```python
tuple_variable = (item1, item2, item3, ...)
```

- การอ้างอิงข้อมูลแต่ละ `item` จะใช้ค่า `index` ซึ่งเป็นค่า `int` เหมือนกันกับลิสต์

In [ ]:
# สร้าง tuple ที่ไม่มีข้อมูลภายใน (empty tuple)
emp_tup = ()
print( emp_tup )

In [ ]:
tup1 = (100,200,300,400,500,2.5,3.5,4.5,'hello')
print(tup1)
print( tup1[4] )
print( tup1[0]+tup1[4] )
print( tup1[-1] )

In [ ]:
# ตรวจสอบชนิดของตัวแปร tup1
print( type(tup1) )

### การนับจำนวนข้อมูลใน Tuple

สามารถใช้คำสั่ง **`len(tuple_variable)`** ใน การนับจำนวนข้อมูลในทูเพิลได้เช่นกัน

In [ ]:
print( len(tup1) )

**Tuple รองรับการ slice เช่นกัน**

In [ ]:
print(tup1)
print( tup1[0:4] )
print( tup1[0:10:3] )

**Tuple ไม่รองรับการแก้ไข**

In [ ]:
# โค้ดนี้ควรจะแสดงค่า error
tup1[0] = 1000

### การแปลงค่าระหว่าง Tuple และ List

หากต้องการแปลงค่าระหว่าง Tuple และ List สามารถทำได้ด้วยคำสั่ง
- `list(ตัวแปร tuple)` ได้ผลลัพธ์เป็น `List`
- `tuple(ตัวแปร list)` ได้ผลลัพธ์เป็น `Tuple`

In [ ]:
x_tuple = ("apple", "banana", "cherry")
print( type(x_tuple), x_tuple )
print()

# แปลง Tuple เป็น List
x_list = list(x_tuple)
print( type(x_list), x_list)
print()

# แก้ไข List
x_list[1] = "kiwi"
x_list.append("orange")

# แปลง List กลับเป็น Tuple
x_tuple = tuple(x_list)
print( type(x_tuple), x_tuple )

---
## Set

- ใช้จัดเก็บชุดข้อมูลที่จะนำมาประมวลผลแบบเซ็ตในทางคณิตศาสตร์
- ใช้เครื่องหมาย `{...}` ในการสร้าง **set** โดยการระบุรายการชุดข้อมูลไว้ภายใน แล้วขั้นข้อมูลแต่ละตัวด้วย `,`
- **ไม่สามารถเก็บข้อมูลซ้ำกันได้ (unique)**
- ไม่รองรับการอ้างอิงข้อมูลด้วยค่า `index` เนื่องจากการเก็บข้อมูลไม่มีลำดับ (unordered)
- รองรับตัวดำเนินการแบบ `Union`, `intersection`, `-`

### การสร้าง Set

In [ ]:
# Set
a = {1,2,2,3,3,5,8}
b = {1,2,'hello','hello','Hello',3.78}
print(a)
print(b)

In [ ]:
# ตรวจสอบชนิดของตัวแปร a
print( type(a) )

In [ ]:
# empty set
emp_set = set()
print(emp_set)
print( type(emp_set) )

### การนับจำนวนข้อมูลใน Set

สามารถใช้คำสั่ง **len(set_variable)** ในการนับจำนวนข้อมูลใน set ได้เช่นกัน

In [ ]:
print( len(b) )

### Union และ Intersection

In [ ]:
print(a)
print(b)
print()

# Union
c = a.union(b)
d = a | b
print(f'c = a.union(b): {c}')
print(f'd = a | b     : {d}')
print()

# Intersection
c = a.intersection(b)
d = a & b
print(f'c = a.intersection(b): {c}')
print(f'd = a & b            : {d}')
print()

### การหาผลต่างของ Set

In [ ]:
print(f'a-b: {a-b}')
print(f'b-a: {b-a}')

### การตรวจสอบคุณบัติ ความเป็น subset

ใช้คำสั่งที่ติดตัวมากับตัวแปร set คือ `.issubset()`

In [ ]:
a = {1,2,2,3,3,5,8}
z = {3,5}

print(z.issubset(a))  # z เป็น subset ของ a? True
print(a.issubset(z))  # a เป็น subset ของ z? False

หากพยายามเข้าถึงข้อมูลใน set ด้วย `index` จะทำให้เกิด error เนื่องจาก set ไม่รองรับการอ้างอิงด้วย `index`

In [ ]:
print(a[3])

นอกจากนี้ set ยังไม่รองรับการแก้ไขค่าโดยตรงเช่นกัน

In [ ]:
a[3] = 100
print(a)

### การเพิ่มข้อมูลและลบข้อมูลใน Set

ตัวแปร Set มีคำสั่งติดตัวที่ใช้ในการจัดการข้อมูล คือ
- `.add()`
- `.update()`
- `.remove()`
- `.discard()`
- `.clear()`

In [ ]:
a = {1,2,2,3,3,5,8}

# เพิ่มข้อมูลทีละตัว
a.add(10)
print(a)

In [ ]:
# เพิ่มข้อมูลจาก set อื่น
a.update({100,200,300})
print(a)

In [ ]:
# ลบค่า 100 จาก Set
a.remove(100)
print(a)

In [ ]:
# remove ค่าที่ไม่มีใน Set ทำให้เกิด error
a.remove(1000)
print(a)

In [ ]:
# แต่ discard ค่าที่ไม่มีใน Set ไม่ทำให้เกิด error
a.discard(1000)
print(a)

In [ ]:
# ลบค่าทั้งหมดจาก Set
print(a)
a.clear()
print(a)

## Dictionary

- เก็บข้อมูลเป็น item คล้ายกับลิสต์ แต่ใช้ค่า **key** ในการอ้างอิงข้อมูลแทน index แบบตัวเลข
- ค่า **key** สำหรับการอ้างอิง สามารถเป็นข้อมูลแบบ `int`, `float`, `string`, `tuple` ก็ได้
- ค่า **key** เมื่อกำหนดไปแล้ว **จะไม่สามารถเปลี่ยนแปลงได้**


### การสร้าง Dictionary

In [ ]:
# สร้าง empty dictionary
person1 = {}
print(person1)
print( type(person1) )

In [ ]:
# กำหนด key เป็นข้อมูลแบบ string ได้แก่
# "name", "isMale", "midterm" และ "final"

person2 = {"name":"Harry Potter", "isMale": True, "midterm":25, "final":30}
print(person2)
print( type(person2) )

### การเข้าถึงข้อมูลภายใน Dict ด้วย key

In [ ]:
# การดึงข้อมูล item จากใน Dict, ดึงข้อมูลโดยใช้ key
std_name = person2["name"]
std_score = person2["midterm"] + person2["final"]

print(f'{std_name} got {std_score}/100 in Python programming.')

In [ ]:
# การกำหนดค่าให้ item ใน Dict, กำหนดค่าให้กับ key
person2["name"] = "Rionel Messi"
print(person2)

In [ ]:
# ดึงข้อมูลด้วย key ที่ไม่มีอยู่ใน Dict
print( person2["address"] )

### การเพิ่มข้อมูลให้กับ Dict

เราสามารถเพิ่มข้อมูล item ใหม่ใน Dict ได้ด้วยการ**กำหนดค่าให้กับ `key` ที่ไม่เคยมีมาก่อนใน Dict**

In [ ]:
print(person2)

# เพิ่มข้อมูล 2 รายการ โดยใช้ key คือ "weight" และ "height"
person2["weight"] = 65.25
person2["height"] = 180.0
print(person2)

### การลบข้อมูลจาก Dict

ตัวแปร Dict มีคำสั่งติดตัวสำหรับการลบข้อมูล เช่น
- `.pop()` ลบข้อมูลด้วยค่า `key` ที่ระบุ
- `.popitem()` ลบข้อมูลรายการสุดท้ายใน Dict
- `.clear()`ลบข้อมูลทั้งหมดใน Dict

In [ ]:
d1 = {'name': 'Rionel Messi', 'isMale': True, 'midterm': 25, 'final': 30, 'weight': 65.25, 'height': 180.0}
print(d1)

In [ ]:
# ดึงข้อมูลที่ใช้ key มีค่าเท่ากับ height ออกจาก Dict
# ข้อมูลที่ดึงออกมาสามารถเอาไปใช้งานต่อได้
height = d1.pop('height')
print(d1)
print(height)

In [ ]:
# pop ข้อมูลโดยระบุ key ที่ไม่มีอยู่ ทำให้เกิด error
team = d1.pop('team')
print(d1)
print(team)

In [ ]:
# pop ข้อมูลโดยไม่ระบุ key ทำให้เกิด error
thing = d1.pop()
print(d1)
print(thing)

In [ ]:
print(d1)

# popitem จะดึงข้อมูลตัวสุดท้ายออกจาก Dict
# ข้อมูลที่ถูกดึงออกมาอยู่ในรูปแบบ Tuple (key,value)
thing = d1.popitem()
print(d1)
print(thing)

In [ ]:
d1.clear()
print(d1)

### การนับจำนวนข้อมูลใน Dict

In [ ]:
print(person2)
print(f'len(person2): {len(person2)}')

### การดูรายการ key ทั้งหมดใน Dict

สามารถใช้คำสั่ง `.keys()` ในการแสดงรายการ `key` ทั้งหมดได้

In [ ]:
print(person2)

# ดึงค่า key ทั้งหมดใน person2
person2_keys = person2.keys()

print(person2_keys)
print( list(person2_keys) )

### การดูรายการข้อมูลทั้งหมดใน Dict

สามารถใช้คำสั่ง `.items()` ในการแสดงรายการข้อมูลทั้งหมดใน Dict ได้

สังเกตุได้ว่าผลลัพธ์ที่ได้จะอยู่ในรูปแบบ **`List ของ Tuple จำนวนมาก`**

```
[(key1, value1),(key2, value2),(key3, value3),...,(keyN,valueN)]
```

In [ ]:
person2_items = person2.items()
print(person2_items)
print( list(person2_items) )

## Collection of Collections

ในกรณีที่ข้อมูลมีความซับซ้อน เราสามารถจัดเก็บข้อมูลในรูปแบบของ Collection ซ้อน Collection ได้ เช่น

- `List of List`
- `List of Dict`
- `Dict of List`
- ...

**หมายเหตุ:** ในทางการเขียนโปรแกรมบางครั้งจะเรียกว่า **nested collection**



### List of List

เป็นรูปแบบนึงของการจัดเก็บข้อมูลที่พบได้บ่อย

In [ ]:
# List of List
items = [ ["John","male",180.5,80], ["Jane","female",176,60.5], ["Steve","male",187.5,82] ]

# ข้อมูลแต่ละ item ภายใน List ก็เป็น List
print(items[0])
print(items[1])
print(items[2])

In [ ]:
# List of List: how to access data
average_height = ( items[0][2] + items[1][2] + items[2][2] ) / len(items)
print(f'Average height: {average_height}')

In [ ]:
# List of List: add/remove item
items.append( ["Lisa","female",168,48] )
print(items)

data = items.pop(0)
print(data)
print(items)

### List of Dict

เป็นรูปแบบนึงของการจัดเก็บข้อมูลที่พบได้บ่อย

In [ ]:
# List of Dict
items2 = [
    {"name":"John","gender":"male","height":180.5,"weight":80},
    {"name":"Jane","gender":"female","height":176,"weight":60.5},
    {"name":"Steve","gender":"male","height":187.5,"weight":82}
]

# ข้อมูลแต่ละ item ภายใน List ก็เป็น Dict
print(items2[0])
print(items2[1])
print(items2[2])

In [ ]:
# List of Dict: how to access data
average_height = ( items2[0]["height"] + items2[1]["height"] + items2[2]["height"] ) / len(items2)
print(f'Average height: {average_height}')

In [ ]:
# List of Dict: add/remove item
items2.append( {'name': 'Lisa', 'gender': 'female', 'height': 168, 'weight': 48} )
print(items2)

data = items2.pop(0)
print(data)
print(items2)

### Dict of List

In [ ]:
# Dict of List
items3 = {
    "John":  ["male",180.5,80],
    "Jane":  ["female",176,60.5],
    "Steve": ["male",187.5,82]
}

# ข้อมูลแต่ละ item ภายใน Dict ก็เป็น List
print(items3["John"])
print(items3["Jane"])
print(items3["Steve"])

In [ ]:
# Dict of List: how to access data
average_height = ( items3["John"][1] + items3["Jane"][1] + items3["Steve"][1] ) / len(items3)
print(f'Average height: {average_height}')

In [ ]:
# List of List: add/remove item
items3["Lisa"] = ["female",168,48]
print(items3)

data = items3.pop("John")
print(data)
print(items3)

### Other possibility

เราสามารถประยุกต์ใช้ collection ในการจัดเก็บข้อมูลที่ซับซ้อน (มีความลึกได้หลายชั้น มีความเป็นไปได้หลายแบบ)



**ตัวอย่าง**

จัดเก็บข้อมูลนักเรียน (student) แต่ละคนด้วย Dict โดยข้อมูลบางอย่างของนักเรียนสามารถมีได้หลายความเป็นไปได้

In [ ]:
# A dictionary of student
student1 = {
    'id': 650610123,                                           # integer
    'name': 'Peter Hamilton',                                  # string
    'gpax': 3.45,                                              # float
    'isMale': True,                                            # boolean
    'grades': {'259201':'A','259104':'B+','259106':'B+'},      # Dict
    'hobbies': ['gaming','running','K-drama'],                 # List
}

student2 = {
    'id': 650610203,                                           # integer
    'name': 'Thanya Taylor',                                   # string
    'gpax': 3.60,                                              # float
    'isMale': False,                                           # boolean
    'grades': {'259201':'B+','259104':'A','259106':'B'},       # Dict
    'hobbies': [],                                             # List
}

In [ ]:
# นำข้อมูลนักเรียนแต่ละคนมาเก็บรวมกันภายใน list
students = [student1, student2]
print(students)

In [ ]:
# คำนวณ GPAX เฉลี่ยของนักเรียน 2 คน
average_gpa = ( students[0]['gpax'] + students[1]['gpax'] ) / len(students)
print(f'average GPA: {average_gpa}')

In [ ]:
# เพิ่ม hobby ให้กับ student2
students[1]['hobbies'].append('novel')
print(students[1])

In [ ]:
# ดูเกรดวิชา 259201 ของ student1
print( students[0]['grades']['259201'] )

<img width="400" src="">